*{
	padding:0;
	margin:0;
}
body{
	background-color:#fafafa;
}
header {
	padding-left: 100px;
	padding-right: 60px;
    height: 50px;
    
    border-top: solid 2px #b92b27;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid grey;
    div.logo {
        img {
        	height: 25px;	
        	weight: 40px;
        }
    }

    nav {
    	ul{
    		display: flex;
    		li{
    			list-style: none;
    			margin-right: 10px;
    		}
    	}
    }
}

main{
display:flex;
background-color:white;

	aside{
		width: 250px;
	}
	section{

		flex-grow:1;
		div#createQuestion{

			textarea{
				width: 61%;
				height: 81px;
				padding: 5px;
                margin-bottom:5px;
			}
            input#create-question-submit{
                        padding: 4px 7px;
                        margin-top: 5px;
                        background-color:#f1f8fb;
                        border-radius:4px;
                        font-size:15px;
                        padding:4px 7px;
                        border: 1px solid #234462;
                        color:#2865a1;
                    }
		}
        
        div#allQuestions{
        background-color:#E9EBEE;
                margin-top: 10px;
                padding: 10px 15px;
                width:60%;
                display:flex;
                flex-direction:column;
                justify-content: space-around;
                border: none;
            div.questionShow{
            background-color:white;
                padding: 5px;
                margin-bottom:20px;
                border: 1px solid black;
            div{
                        text-align: justify;
                        height:auto;
            }
                
                 a.upvoted{
                    color: white;
                    padding: 4px 7px;
                    margin-top: 5px;

                    background-color:#3e78ad;
                    border-radius:4px;
                    font-size:15px;
                    padding:4px 7px;
                    border: 1px solid #234462;
                    color:white;
                 }
                 a{
                    text-decoration: none;
                    margin-right:5px;
                    margin-left:5px;
                 }
                 a.downvoted{

                    color: white;
                    padding: 4px 7px;
                    margin-top: 5px;
                    background-color: #df4930;
                    border-radius:4px;
                    font-size:15px;
                    padding:4px 7px;
                    border: 1px solid #df4930;
                    color:white;
                 }
                 a.notdownvoted{
                    padding: 4px 7px;
                    margin-top: 5px;
                    background-color:#f5ddd9;
                    border-radius:4px;
                    font-size:15px;
                    padding:4px 7px;
                    border: 1px solid #df4930;
                    color:#df4930;
                 }
                 a.notupvoted{
                    padding: 4px 7px;
                    margin-top: 5px;
                    background-color:#f1f8fb;
                    border-radius:4px;
                    font-size:15px;
                    padding:4px 7px;
                    border: 1px solid #234462;
                    color:#2865a1;

                 }
                 div#createAnswer{
                    textarea{
                        width: 98%;
                        height: 81px;
                        padding-left: 4px;
                        padding-top: 4px;
                        margin-bottom: 5px;
                    }
                    input#create-answer-submit{
                        padding: 4px 7px;
                        margin-top: 5px;
                        background-color:#f1f8fb;
                        border-radius:4px;
                        font-size:15px;
                        padding:4px 7px;
                        border: 1px solid #234462;
                        color:#2865a1;
                    }
                }

                   div.allAnswers{
                     div.answerShow{
                        margin-top: 5px;
                        padding: 5px;
                        border: 1px solid black;
                    }
                   }
            }
        }
        
                
}
}
             
        