*{
	padding:0;
	margin:0;
}
body{
	background-color:#fafafa;
}
header {
	padding-left: 100px;
	padding-right: 60px;
    height: 50px;
    border-top: solid 2px #b92b27;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid grey;
    div.logo {
        img {
        	height: 25px;	
        	weight: 40px;
        }
    }

    nav {
    	ul{
    		display: flex;
    		li{
    			list-style: none;
    			margin-right: 10px;
    		}
    	}
    }
}

main{
display:flex;
	aside{
		width: 250px;
	}
	section{

		flex-grow:1;
		div#createQuestion{

			textarea{
				width: 60%;
				height: 81px;
				padding: 5px;
                margin-bottom:5px;
			}
		}
        
        div#allQuestions{
                margin-top: 10px;
                padding: 10px 5px;
                width:60%;
                display:flex;
                flex-direction:column;
                justify-content: space-around;
                border: 1px solid black;
            div.questionShow{
                padding: 5px;
                border: 1px solid black;
            div{
                    word-break:break-all;
                        height:auto;
                
            }
                
                 
                 div#createAnswer{
                    textarea{
                        width: 80%;
                        height: 81px;
                        padding-left: 4px;
                        padding-top: 4px;
                        margin-bottom: 5px;
                    }
                }

                   div.allAnswers{
                     div.answerShow{
                        margin-top: 5px;
                        padding: 5px;
                        border: 1px solid black;
                    }
                   }
            }
        }
        
                
}
}
             
        